<div class="flex justify-between">
  <h3 class="font-semibold text-3xl my-5">{{title}}</h3>
  <button class="flex gap-2 items-center hover:text-green-500" routerLink="/invoices-list"><i
      class='fas fa-arrow-left-long'></i>Vrátit se
    zpět</button>
</div>
<br>
<br>
<br>
<br>
<br>
<div>
  {{title}}

  <br>
  <br>
  Zákazník
  <br>
  jméno
  <input type="text"
    class="p-2 border border-gray-300 text-md rounded-sm shadow-md w-full outline-green-500 focus:outline-1" />
  příjmení
  <input type="text"
    class="p-2 border border-gray-300 text-md rounded-sm shadow-md w-full outline-green-500 focus:outline-1" />
  email
  <input type="text"
    class="p-2 border border-gray-300 text-md rounded-sm shadow-md w-full outline-green-500 focus:outline-1" />

  <br>
  <br>
  <br>
  popis
  <textarea
    class="p-2 border border-gray-300 text-md rounded-sm shadow-md w-full outline-green-500 focus:outline-1"></textarea>
  <br>
  datum vystavení
  <input type="date"
    class="p-2 border border-gray-300 text-md rounded-sm shadow-md w-full outline-green-500 focus:outline-1" />
  <br>
  <br>
  <br>
  položky
  Komponenta na přidání položky - bude mít v řadě Název, jednotková cena, Počet položek
</div>