<div class="flex justify-between">
  <h3 class="font-semibold text-3xl my-5">{{title}}</h3>
  <button class="flex gap-2 items-center hover:text-green-500" (click)="goBack()"><i
      class='fas fa-arrow-left-long'></i>Vrátit se
    zpět</button>
</div>

<div>
  <form [formGroup]="invoiceDetail" (ngSubmit)="onSubmit()" class="">
    <div class="max-w-2xl mx-auto my-5">
      <h4 class="text-2xl mb-2">Detail zákazníka</h4>
      <div class="flex gap-3 items-center my-5">
        <div class="w-[180px] text-end">
          <label class="font-semibold text-md text-gray-400 required">Jméno</label>
        </div>
        <input type="text"
          class="p-2 border border-gray-300 text-md rounded-sm shadow-md w-full outline-green-500 focus:outline-1 max-w-[265px]"
          formControlName="firstName" name="firstName" required />
        <app-error-validation-alert [control]="invoiceDetail.controls['firstName']"></app-error-validation-alert>

      </div>

      <div class="flex gap-3 items-center my-5">
        <div class="w-[180px] text-end">
          <label class="font-semibold text-md text-gray-400 required">Příjmení</label>
        </div>
        <input type="text"
          class="p-2 border border-gray-300 text-md rounded-sm shadow-md w-full outline-green-500 focus:outline-1 max-w-[265px]"
          formControlName="lastName" name="lastName" required />
        <app-error-validation-alert [control]="invoiceDetail.controls['lastName']"></app-error-validation-alert>
      </div>

      <div class="flex gap-3 items-center my-5">
        <div class="w-[180px] text-end">
          <label class="font-semibold text-md text-gray-400 required">Email</label>
        </div>
        <input type="email"
          class="p-2 border border-gray-300 text-md rounded-sm shadow-md w-full outline-green-500 focus:outline-1 max-w-[265px]"
          formControlName="email" name="email" required />
        <app-error-validation-alert [control]="invoiceDetail.controls['email']"></app-error-validation-alert>
      </div>
      <h4 class="text-2xl mb-2">Detail faktury</h4>

      <div class="flex gap-3 items-center my-5">
        <div class="w-[180px] text-end">
          <label class="font-semibold text-md text-gray-400 required">Datum vystavení</label>
        </div>
        <input type="date"
          class="p-2 border border-gray-300 text-md rounded-sm shadow-md w-full outline-green-500 focus:outline-1 max-w-[265px]"
          formControlName="dateOfIssue" name="dateOfIssue" required />
        <app-error-validation-alert [control]="invoiceDetail.controls['dateOfIssue']"></app-error-validation-alert>
      </div>

      <div class="flex gap-3 items-center my-5">
        <div class="w-[180px] text-end">
          <label class="font-semibold text-md text-gray-400 required">Popis</label>
        </div>
        <textarea
          class="p-2 border border-gray-300 text-md rounded-sm shadow-md w-full outline-green-500 focus:outline-1 max-w-[265px]"
          formControlName="description" name="description" required></textarea>
        <app-error-validation-alert [control]="invoiceDetail.controls['description']"></app-error-validation-alert>
      </div>
    </div>

    <div class="max-w-4xl mx-auto my-5">
      <h4 class="text-2xl mb-2">Položky faktury</h4>
      <div class="grid mt-3 mb-5">
        <ng-container *ngFor="let item of invoiceItems; let rowId = index; trackBy: trackByFn">
          <app-invoice-item [item]="item" [index]="rowId" (itemValuesChange)="onUpdateInvoiceItemFormValue($event)"
            (deleteItem)="onDeleteInvoiceItem($event)"></app-invoice-item>
        </ng-container>
      </div>

      <div class="flex justify-center">
        <button type="button" (click)="onAddInvoiceItem()"
          class="bg-gray-400 px-3.5 py-2 text-white font-semibold text-md shadow-lg hover:opacity-80 rounded-full"><i
            class='fas fa-plus'></i></button>
      </div>

    </div>
    <div class="border-t pt-5">
      <div class="flex justify-end">
        <button type="submit"
          class="bg-amber-300 px-5 py-2 text-gray-800 font-semibold text-2xl shadow-lg hover:opacity-80">{{buttonLabel}}</button>
      </div>
    </div>

  </form>
</div>