<div class="flex gap-2 justify-end my-auto">
  <button class="hover:opacity-80 shadow-lg py-1 px-1.5 rounded-full bg-amber-500 text-white" (click)="generatePDF()"><i
      class='fa-fw fas fa-download'></i></button>
  <button class="hover:opacity-80 shadow-lg py-1 px-1.5 rounded-full bg-sky-500 text-white"
    routerLink="/app/invoice/{{item.id}}"><i class='fa-fw fas fa-pencil'></i></button>
  <button class="hover:opacity-80 shadow-lg py-1 px-1.5 rounded-full bg-red-500 text-white"
    (click)="deleteInvoice(item.id)"><i class='fa-fw fas fa-trash'></i></button>
</div>

<template>
  <div #invoicePDF class="flex flex-col">
    TODO style!!!
    <div class="flex justify-end text-sm whitespace-nowrap text-red-500">
      <span>Faktura: {{item.id}}</span>
    </div>
    <div class="grid grid-cols-2">
      <div>Dodavatel: TODO - current user detail</div>
      <div>Odběratel: {{item.customer.firstName}} {{item.customer.lastName}}</div>
    </div>
    <!--    <div class="grid grid-cols-2">
      <div class="col-span-2">Platební podmínky</div>
    </div> -->
    <div class="grid">
      <div class="">Položky</div>
      <ng-container *ngFor="let invoiceItem of item.invoiceItems" class="flex gap-2">
        <div>{{invoiceItem.name}}</div>
        <div>{{invoiceItem.unitPrice * invoiceItem.numberOfItems}} Kč</div>
      </ng-container>
      <div class="flex justify-end">
        <span>Celkem k úhradě: {{calculateTotalPrice(item.invoiceItems)}}</span>
      </div>
    </div>
  </div>
</template>
