<div class="w-full my-5 shadow-md">
  <div class="p-3">
    <div class="overflow-x-auto">
      <app-invoices-grid-actions [excelExportData]="invoices"
        (searchOutput)="search($event)"></app-invoices-grid-actions>
      <table class="table-auto w-full">
        <thead class="text-sm font-semibold text-gray-400 bg-gray-50">
          <tr>
            <th class="w-[20px]"></th>
            <!-- TODO: Refactoring -->
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-left">
                <app-sortable-column class="flex gap-2 justify-start items-center" title="Jméno"
                  (sortingChange)="onSortingChange($event)" [activeKey]="sorting?.field" key="CustomerFirstName">
                </app-sortable-column>
              </div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-left">
                <app-sortable-column class="flex gap-2 justify-start items-center" title="Příjmení"
                  (sortingChange)="onSortingChange($event)" [activeKey]="sorting?.field" key="CustomerLastName">
                </app-sortable-column>
              </div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-center">
                <app-sortable-column class="flex gap-2 justify-center items-center" title="Variabilní symbol"
                  (sortingChange)="onSortingChange($event)" [activeKey]="sorting?.field" key="variableNumber">
                </app-sortable-column>
              </div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-center">
                <app-sortable-column class="flex gap-2 justify-center items-center" title="Datum vystavení"
                  (sortingChange)="onSortingChange($event)" [activeKey]="sorting?.field" key="dateOfIssue">
                </app-sortable-column>
              </div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-end">
                <app-sortable-column class="flex gap-2 justify-end items-center" title="Cena celkem"
                  (sortingChange)="onSortingChange($event)" [activeKey]="sorting?.field" key="totalPrice">
                </app-sortable-column>
              </div>
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody class="text-sm divide-y divide-gray-100">
          <tr *ngFor="let item of invoices">
            <td class="p-2 whitespace-nowrap">
              <div class="text-left">
                <i *ngIf="!isInvoiceValid(item)" class='fas fa-triangle-exclamation text-amber-500'
                  title="Chyba - zkontrolujte fakturu"></i>
                <i *ngIf="isInvoiceValid(item)" class='fas fa-circle-check text-green-500' title="Vše v pořádku"></i>
              </div>
            </td>
            <td class="p-2 whitespace-nowrap">
              <div class="text-left">{{item.customer.firstName}}</div>
            </td>
            <td class="p-2 whitespace-nowrap">
              <div class="text-left">{{item.customer.lastName}}</div>
            </td>
            <td class="p-2 whitespace-nowrap">
              <div class="text-center">{{item.variableNumber}}</div>
            </td>
            <td class="p-2 whitespace-nowrap">
              <div class="text-center">{{item.dateOfIssue | date: 'dd.MM.yyyy'}}</div>
            </td>
            <td class="p-2 whitespace-nowrap">
              <div class="text-md font-normal text-end"><span class="font-mono">
                  {{calculateTotalPrice(item.invoiceItems) |
                  number:'1.2-2' }}
                </span>
                Kč</div>
            </td>
            <td class="p-2 whitespace-nowrap min-w-[5rem]">
              <app-invoices-row-actions [item]="item" (onDeleteItem)="deleteInvoice($event)"></app-invoices-row-actions>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-container *ngIf="loading">
        <div class="flex justify-center">
          <i class='fas fa-spinner text-2xl animate-spin'></i>
        </div>
      </ng-container>
      <app-paginator [currentPage]="pageInfo.currentPage" [pageSize]="pageInfo.pageSize"
        [totalItems]="pageInfo.totalItems" (pageChange)="onPageChange($event)"></app-paginator>
    </div>
  </div>