<div class="w-full my-5 shadow-md">
  <div class="p-3">
    <div class="overflow-x-auto">
      <table class="table-auto w-full">
        <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
          <tr>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-left">Jméno</div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-left">Příjmení</div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-center">Datum vystavení</div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-end">Cena celkem</div>
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody class="text-sm divide-y divide-gray-100">
          <tr *ngFor="let item of invoices">
            <td class="p-2 whitespace-nowrap">
              <div class="text-left">{{item.customer.firstName}}</div>
            </td>
            <td class="p-2 whitespace-nowrap">
              <div class="text-left">{{item.customer.lastName}}</div>
            </td>
            <td class="p-2 whitespace-nowrap">
              <div class="text-center">{{item.dateOfIssue | date: 'dd.MM.yyyy'}}</div>
            </td>
            <td class="p-2 whitespace-nowrap">
              <div class="text-md font-normal text-end"><span class="font-mono">
                  {{calculateTotalPrice(item.invoiceItems) |
                  number:'1.2-2' }}
                </span>
                Kč</div>
            </td>
            <td class="p-2 whitespace-nowrap min-w-[5rem]">
              <div class="flex gap-2 justify-end my-auto">
                <button class="hover:opacity-80 shadow-lg py-1 px-1.5 rounded-full bg-sky-500 text-white"
                  routerLink="/app/invoice/{{item.id}}"><i class='fas fa-pencil'></i></button>
                <button class="hover:opacity-80 shadow-lg py-0 px-2 rounded-full bg-red-500 text-white"
                  (click)="deleteInvoice(item.id)"><i class='fas fa-trash'></i></button>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <ng-container *ngIf="loading">
      <div class="flex justify-center">
        <i class='fas fa-spinner text-2xl animate-spin'></i>
      </div>
    </ng-container>
  </div>